---
import { SITE_TITLE } from "@/consts";

const today = new Date();
---

<section
  id="footer"
  class="w-full grid relative place-items-center text-center py-6 md:py-8 bg-card/10 mt-8"
>
  <div class="flex flex-col gap-4 items-center">
    <a
      href="https://buymeacoffee.com/boondit"
      target="_blank"
      rel="noopener noreferrer"
      class="inline-block"
    >
      <img
        src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=☕&slug=boondit&button_colour=FFDD00&font_colour=000000&font_family=Cookie&outline_colour=000000&coffee_colour=ffffff"
        alt="Buy Me A Coffee"
        style="height: 60px !important; width: 217px !important;"
      />
    </a>
    <div
      class="px-6 md:px-10 py-3 border-2 border-border rounded text-sm md:text-base"
    >
      &copy; {today.getFullYear()}
      {SITE_TITLE}. All rights reserved.
    </div>
  </div>
</section>
