---
import { SITE_TITLE, NAV_LINKS as links } from "@/consts";
---

<nav class="w-full !z-[9999] py-3 md:py-5 px-3 md:px-4 bg-background/90 backdrop-blur-sm">
  <div class="w-full flex flex-col md:flex-row items-center justify-between gap-3 md:gap-4">
    <a href="/" class="flex-shrink-0">
      <div
        id="logo"
        class="pt-2 pb-1 !grid !place-items-center select-none leading-none hover:bg-background bg-foreground scale-110 hover:text-foreground text-background px-3 md:px-4 transition-all ease-in-out text-sm md:text-base"
      >
        {SITE_TITLE}
      </div>
    </a>
    <div class="flex flex-wrap gap-2 md:gap-4 justify-center items-center">
      <div class="hidden md:block">/</div>
      {
        links.map((link) => {
          const href =
            link.href ?? link.title.toLowerCase().replaceAll(" ", "-");
          const pathname = Astro.url.pathname.replace(
            import.meta.env.BASE_URL,
            "",
          );
          const subpath = pathname.match(/[^\/]+/g);
          const isActive =
            href === pathname || href === "/" + (subpath?.[0] || "");
          return (
            <>
              <a
                class:list={[{ "bg-accent text-accent-foreground": isActive }]}
                class="hover:bg-accent hover:text-accent-foreground transition-all ease-in-out px-2 py-1 max-w-fit text-sm md:text-base flex items-center justify-center"
                href={`/${href}`}
              >
                <div>{link.title}</div>
              </a>
              <div class="hidden md:block">/</div>
            </>
          );
        })
      }
    </div>
  </div>
</nav>

<script>
  window.addEventListener("scroll", () => {
    const logo = document.getElementById("logo");
    if (!logo) return;
    if (window.scrollY > 100) {
      logo.className =
        "pt-2 pb-1 !grid !place-items-center select-none leading-none hover:bg-foreground bg-background scale-100 hover:text-background text-foreground px-3 md:px-4 transition-all ease-in-out text-sm md:text-base";
    } else {
      logo.className =
        "pt-2 pb-1 !grid !place-items-center select-none leading-none hover:bg-background bg-foreground scale-110 hover:text-foreground text-background px-3 md:px-4 transition-all ease-in-out text-sm md:text-base";
    }
  });
</script>
